Repository korthout/backport-action-test, pull requests merged in 2023-01, with the labels that each got.

#205 Case(1): Add a changed line
  case1/file1
Labels: backport case1-backport-target

#206 Case(1): Add a changed line
  case1/file1
Labels: backport case1-backport-target

#208 Case(1): Add a changed line
  case1/file1
Labels: backport case1-backport-target

#211 Case(1): Add a changed line
  case1/file1
Labels: backport case1-backport-target

#213 Case(2): Add a changed line
  case2/file1
Labels: backport case2-backport-target

#216 Case(1): Add a changed line
  case1/file1
Labels: backport case1-backport-target

#218 Case(2): Add a changed line
  case2/file1
Labels: backport case2-backport-target

#220 case(3): new changes
  case3/case3-conflict
Labels: backport case3-conflict-backport-target
